<!DOCTYPE html>
<html>
  <head>
    <title>Redil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
<div class="container">
    <div class="page-header">
        <h1 id="timeline">REDIL <small>Get full text search on image based documents</small></h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-fire"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--<h4 class="timeline-title">Deploy <a class="text-info" href="http://www.openocr.net/">OpenOCR</a></h4>
              <h4 class="timeline-title">Deploy <a class="text-info" href="http://redil.xyz/">REDIL</a></h4>-->
              <h4 class="timeline-title">Unable to extract valuable information of your documents?</a></h4>
<!--              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
            </div>
            <div class="timeline-body">
              <p>Do you have a great extent of your corporate data on scaned documents? Are you unable to classify your documents based on the information they contains?</p>
              <p>If you do then you have a problem. But you do not have to worry. REDIL will keep all your information accesible.</p>
              <p>REDIL uses <a class="text-info" href="http://www.openocr.net/">OpenOCR</a> rest API to process image based documents and extract meaningfull data. You can deploy an instance of OpenOCR in your own private cloud or use <a class="text-info" href="https://cloud.google.com/compute/">Google Compute Engine</a>,  <a class="text-info" href="https://www.tutum.co/">Tutum</a> or <a class="text-info" href="https://www.orchardup.com/">Orchard</a>.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-tasks"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Are you still manual processing your digital assets with an OCR?</a></h4>
            </div>
            <div class="timeline-body">
              <p>Yes, you have a nice piece of software to extract the information of your documents but it does not offer you an automatic way to do it. You have to move the information around you organization between servers, filesystems ... This does not scale well. If you have an increasing amount of documents to process it becomes a real problem for you and your company.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-refresh"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">REDIL will enhance your digital superpowers</h4>
            </div>
            <div class="timeline-body">
              <p>Desinged as a flexible REST API uses diferent open source compontents to provide the functionality of a OCR Server professional solution at no cost. It also ships with a powerfull and easy to use web infterface.</p>
              <p>The idea emerge while I was working as an IT consultant for a spanish law firm. The company had a great volume of scaned images and they longed for extract and take advantage of it. I made a research and find a lot of expensive commercial solutions but none <a href="https://github.com/reciproco/redil">open source</a>.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
    </ul>
</div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

